# EditorConfig helps maintain consistent coding styles across different editors
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, TypeScript, JSON
[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2

# CSS, SCSS
[*.{css,scss}]
indent_style = space
indent_size = 2

# Go files
[*.go]
indent_style = tab
indent_size = 4

# Markdown
[*.md]
trim_trailing_whitespace = false

# YAML
[*.{yaml,yml}]
indent_style = space
indent_size = 2
